@charset "UTF-8";
body {
   background-image:url(../img/1160181.jpg); /* 画像 */
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
   background-position: center center;   /* 縦横中央 */
}
.Header {
position: fixed; /* ヘッダーを固定する */
top: 0; /* 上部から配置の基準位置を決める */
left: 0; /* 左から配置の基準位置を決める */
width: 100%; /* ヘッダーの横幅を指定する */
height: 35px; /* ヘッダーの高さを指定する */
padding: 10px; /* ヘッダーの余白を指定する(上下左右) */
background-color: #31a9ee; /* ヘッダーの背景色を指定する */
color: #000000; /* フォントの色を指定する */
}
/* ヘッダー部分 */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h2{
	margin: 25px;
	margin-left:900px;
}

/* ここまで */

/* フォント */
h1{
    font-family:Algerian;
    margin-left:100px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
#top-header {
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  background: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d1dce5;
  opacity: 0.8;
  z-index: 999;
  height: 130px;
  width: 100%;
}
