@charset "UTF-8";

/*天気の大きさ*/
.ww-box {
    width: 50%;
  height: 20%;
  padding: 0;
  }
  .ww-temp{
    width: 50%;
  height: 20%;
  }
  .ww_hours.ww_noselect{
    width: 150%;
  height: 20%;
  }
div.ww_additional{
display: none;
}
.ww_cond{
	font-size:13px;
}
/*ここまで*/
/*一覧*/
#gazo{
		display:flex;
    	justify-content: center;
    	opacity: 0.4;

}
	/* リンクのとこにカーソルが当たると */
.linkArea:hover{
		/* でかくなる最大値 */
		transform: scale(1.1);
		/* でかくなる速度 */
 		transition-duration: 1.0s;
}

.linkArea{
		width:100px;/*幅を指定*/
		height:100px;/*高さを指定*/
}

