@charset "UTF-8";
/* ヘッダー部分 */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h2{
	margin-left:100px;
}
/*  天気*/
/*天気の大きさ*/
.ww-box {
    width: 50%;
  height: 20%;
  padding: 0;
  }
  .ww-temp{
    width: 50%;
  height: 20%;
  }
  .ww_hours.ww_noselect{
    width: 150%;
  height: 20%;
  }
div.ww_additional{
display: none;
}
.ww_cond{
	font-size:13px;
}
/*全体
		.wrapper{
		    max-width: 600px;
		    margin: 0 auto;
		    color: #666;
		}
		#header {
		    text-align: center;
		    font-size: 28px;
		    width: 100%;
		    margin: 1rem 0 0;
            font-family: Times ;

           position: relative;
           top: 50px;
		}

		/*カレンダー
		#calendar {
		    text-align: center;
		    width: 100%;



		}
		table {
		    outline: 2px solid #ddd;
		    border-collapse: collapse;
		    width: 100%;
		}
		th {
		    color: #000;

		}
		th, td {
		    outline: 1px solid #ddd;
		    padding-top: 20px;
		    padding-bottom: 30px;
		    text-align: center;
            font-family: Times ;
             background-color: white;
		}
		/*日曜日*/
		/* td:first-child {
		    color: red;
		}
		土曜日
		td:last-child {
		    color: blue;
		}
		前後月の日付
		td.disabled {
		    color: #ccc;
		}
		本日
		td.today {
		    background-color: #D65E72;
		    color: #fff;
		}

		ボタン
		#next-prev-button {
		    position: relative;
		}
		#next-prev-button button{
		    cursor: pointer;
		    background: #ffc0cb;
		    color: #fff;
		    border: 1px solid #db7093;
		    border-radius: 4px;
		    font-size: 1rem;
		    padding: 0.5rem 2rem;
		    margin: 1rem 0;
		}
		#next-prev-button button:hover{
		    background-color: #ff69b4;
		    border-color: #ffc0cb;
		}
		#prev {
		    float: left;
		}
		#next {
		    float: right;
		}
		ハンガーホバーカラー
		.image-link:hover {
     color: red;   ホバー時のテキスト色
     background-color: #696969;   ホバー時の背景色

       }
       td:hover{
       background-color: #ffb6c1;

       } */

      /* 新カレンダー */
  .ui-datepicker td:hover {
    background-color: #DDA0DD; /* ホバー時の背景色 */
    cursor: pointer; /* カーソルのスタイル */
  }
  .ui-datepicker-calendar th.ui-datepicker-week-end {
    color: blue;  /* Saの色を青に設定 */
  }

  .ui-datepicker-calendar th.ui-datepicker-week-end:first-child {
    color: red;  /* Suの色を赤に設定 */
  }
  .ui-datepicker-calendar{
  background-color:#E0FFFF;
  }
/*ボタンデザイン */
.button-004 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-bottom: solid 5px #bc4700;
    border-radius: 25px;
    background-color: #ec7718;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    transition: .5s ease;
    margin-left:0;
    width:190px;
    height:50px;
    font-size:15px;
}

.button-004::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
}

.button-004:hover {
    transform: translateY(3px);
    border-bottom-width: 2px;
}